<div id="centronoticias">

<p class="titulonoticias">Enterate de las últimas noticias sobre Realidad Virtual y tecnologia</p>
{{#each novedades}}
<div class="noticias">
<h2>{{titulo}}</h2>
<h3>{{subtitulo}}</h3>
<p>{{cuerpo}}</p>
</div>

{{/each}}

</div>